.user-container {
  position: relative;
  display: inline-block;
}

.user-menu {
  position: relative;
}
.user-menu-container {
  position: relative;
  margin-left: 40px;
}
.user-circle {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

.menu-list {
  position: absolute;
  top: 50px;
  right: 10;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  z-index: 10;
  width: 200px;
}

.menu-list li {
  list-style: none;
  padding: 8px 12px;
  font-size: 14px;
}

.menu-list li a {
  color: #333;
  text-decoration: none;
  display: block;
}

.menu-list li:hover {
  background-color: #f0f0f0;
}
.not-logged-in {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #f5c6cb;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 5px; /* Descend l'élément */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
